<div class="container mt-5">
  <div class=" d-flex justify-content-center">
    <div class="card">
      <div class="card-header text-white bg-primary mb-3">Ajouter une note</div>
      <div class="card-body">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Titre de la note</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" [(ngModel)]="title">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Description</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="description"></textarea>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary float-end" (click)="noteCreation()">Ajouter</button>
      </div>
    </div>
  </div>

</div>
