h1 {
  margin: 1em auto;
  width: fit-content;
  font-size: 40px;
}

.login-btn {
  margin: 15px auto;
  width: 300px;
}

.card {
  margin: 100px 0;
  width: 450px;
}

.card-body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media only screen and (max-width: 767px) {
  .login-btn {
    margin: 15px auto;
    width: 300px;
  }

  .card {
    margin: 100px 0;
    width: 320px;
  }
}
