<div *ngIf="auth.afAuth.user | async; then showUserMenu else showLogin"></div>

<!-- --------------------------- Show User Menu ---------------------------- -->
<ng-template #showUserMenu>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" routerLink="/notes">Notes App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="cou navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" routerLink="/notes">
            <a class="nav-link active" aria-current="page" [routerLink]="['/notes']"
              routerLinkActive="router-link-active"><i class="far fa-sticky-note"></i> Mes Notes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/notes/create-note"><i class="far fa-plus-square" routerlin></i>
              Ajouter
              une note</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">
            <a class="nav-link user-down dropdown-toggle" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              <img [src]="userAvatar" (error)="errorHandler($event)" width=" 40" height="40" class="rounded-circle">
              {{userName}}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <!-- <li><a class="dropdown-item" href="#">Mon Profil</a></li> -->
              <li (click)="auth.logout()"><a class="dropdown-item">Se deconnecter</a></li>
            </ul>
          </li>
        </ul>

        <!-- <ul class="navbar-nav ms-auto">
          <button class="btn btn-dark nav-item" (click)="auth.logout()">
            Se deconnecter</button>
        </ul> -->
      </div>
    </div>
  </nav>
</ng-template>


<!-- ------------------------- Show login Section -------------------------- -->

<ng-template #showLogin>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="#">Notes App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      </div>
    </div>
  </nav>
</ng-template>

<router-outlet></router-outlet>
