<div *ngIf="auth.afAuth.authState | async as user; then showUserMenu else showLogin"></div>

<!-- --------------------------- Show User Menu ---------------------------- -->
<ng-template #showUserMenu>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" routerLink="/notes">Notes App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" routerLink="/notes">
            <a class="nav-link active" aria-current="page" [routerLink]="['/notes']"
              routerLinkActive="router-link-active"><i class="far fa-sticky-note"></i> Mes Notes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/notes/create-note"><i class="far fa-plus-square" routerlin></i>
              Ajouter
              une note</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <button class="btn btn-dark nav-item" (click)="auth.logout()">
            Se deconnecter</button>
        </ul>
      </div>
    </div>
  </nav>
</ng-template>


<!-- ------------------------- Show login Section -------------------------- -->

<ng-template #showLogin>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="#">Notes App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <button class="btn btn-danger nav-item" (click)="auth.login()">
            Se connecter avec Google </button>
        </ul>
      </div>
    </div>
  </nav>
</ng-template>

<router-outlet></router-outlet>
